<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>challenge capter 3</title>
  </head>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="./challenge1/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./challenge1/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="./challenge1/fontawesome/js/all.js"></script>
  <link rel="stylesheet" href="./challenge1/fontawesome/css/all.css" />
  <style>
        #container {
          width: 100%;
          height: 960.14px;
          background-image: url("./challenge1/img/blok1.jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          position: relative;
          text-align: center;  
        }
        .title {
          display: flex;
    justify-content: center;
    align-items: center;
    line-height: 150px;
    color: white;
    font-family: 'Arial';
    padding-top: 200px;
    font-size: 72px;
}

        #exper {
          height: 73px;
          font-weight: 100;
          font-size: 12px;
          font-family: 'Open Sans';
          text-align: center;
          letter-spacing: 6px;
          color: white;
        }
        .navbar-brand{
          display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 50px;
    font-size: 24px;
    line-height: revert;
        }
        .nav {
          background-color: #060606ad;
          border-bottom: 1px solid #e7e6e1;
          display: flex;
        }
       
        .nav-item {
          position: relative;
        }
        .nav-link {
          display: block;
          padding: 20px 15px;
          margin: 0;
          color: #ffffff;
          font-family: arial;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 12px;
        }
        .nav-item:hover .nav-dropdown {
          display: block;
        }
        .nav-dropdown {
          position: relative;
          display: none;
          z-index: 999;
          top: 58px;
          left: 0px;
          width: 200px;
          padding-bottom: 10px;
          border-radius: 3px;
          background-color: rgba(146, 119, 21, 0.385);
          border: 1px solid #e8e8e8;
        }
        .nav-dropdown a {
          display: block;
          padding: 10px;
          color: #314e52;
          text-decoration: none;
        }
        .nav-dropdown a:hover {
          background-color: #f6f6f6;
        }
        nav.biru {
          background-color: #325288; /* warna bg navbar */
          border-color: #325288; /* warna bg navbar */
        }
        nav.biru .nav-link:after {
          background-color: #f2a154; /* warna border bawah navbar */
        }
        nav.biru .nav-link {
          color: #f4eee8; /* warna teks navbar */
        }
        #play1 {
          background-color: rgb(239, 160, 33);
          width: 150px;
          margin: 0 auto;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: small;
        }
        #blok2 {
          background-image: url("./challenge1/img/blok2.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          padding-top: 10%; padding-bottom: 10%;
        }
        #blok3{
          background-image:url("./challenge1/img/blok3.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 870.26px;
          width: 100%;
        }
      .d-blok3{
        margin-top: 258.82px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
        color: #FFFFFF
      }
      .d-blok3-1{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      .d-blok3-2{
        font-size: 24px;
        color: orange;
        text-align: justify;
        font-weight: 400;
        height: 38.23px;
        left: 809.29px;
        top: 439.6px;
      }
      .d-blok3-3{
        font-family: arial;
        font-weight: 200;
        font-size: 11px;
        line-height: 22px;
        text-align: justify;
        color: #d8d1d1f5;
      }
      .d-blok3-4{
        font-size: 24px;
        color: orange;
        text-align: justify;
        font-weight: 400;
        height: 38.23px;
        left: 809.29px;
        top: 439.6px;
      }
      .d-blok3-5{
        font-size: 24px;
        color: orange;
        text-align: justify;
        font-weight: 400;
        height: 38.23px;
        left: 809.29px;
        top: 439.6px;
      }
      #blok3-4{
          background-image:url(./img/patung.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 870.26px;
          width: 100%;
          scroll-margin-bottom: 100px;
      }
      .carousel-indicators li{
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin-right: 10px;
        margin-left: 10px;
      }
      .carousel-item img{
          width: 80% !important;
          margin: 0 auto;
          border-radius: unset;
      }
      .d-blok1-0{
        /* width: 240px; */
        margin: auto;
        color: white;
        font-size: 14px;
        font-family: 'Courier New', Courier, monospace;
        padding-top: 150px;
      }
      .d-blok1-1{
        height: 100px;
    left: 9.02%;
    right: 100px;
    top: 50px;
    font-family: 'Arial';
    font-size: 56px;
    line-height: 134px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 100px;
      }
    .d-blok1-2{
    border-style:ridge;
    width: 500px;
    height: 400px;
    left: 300px;
    top: 400px;
    border: 1px solid #6c757d;
    border-bottom-style: double;
    margin-inline: 200px;
    margin-top: 20px;
    }
    #my_menu{
      background-color: rgba(0, 0, 0, 0.425);
    }
    .carousel-control-prev-icon {
      background-image: url(./img/switch1.png);
      width: 20px;
    height: 40px;
    }
    .carousel-control-next-icon{
      background-image: url(./img/switch2.png);
      width: 20px;
    height: 40px;
   }
  </style>
  <body>
    <div id="container">
      <nav id="my_menu" class="navbar navbar-expand-lg">
        <a class="navbar-brand text-white" href="#" ;>LOGO</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >HOME<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT ME</a>
            </li>
          </ul>
          <span class="navbar-text">
            <button
              class="btn bg-transparent text-white"
              style="font-size: 10px"
            >
              SIGN UP
            </button>
            <button
              class="btn bg-transparent text-white"
              style="font-size: 10px">
              LOGIN
            </button>
          </span>
        </div>
      </nav>
      <h1 class="title">PLAY TRADISIONAL GAME</h1>
      <p id="exper">experience new traditional game play</p>
      <div id="play1">
        <a id="play" href="/play">Play Now</a>
      </div>
      <div
        class="play_bottom"
        style="
          position: absolute;
          bottom: 0;
          left: 0;
          text-align: center;
          width: 100%;">
        <div style="color: white; width: 100%; text-align: center;margin-bottom: 30px;">
          <div style="width: 100%;">
          <a href="#blok2" style="color: white;"> THE STORY</a>
          </div>
          <img src="./challenge1/img/scroll down.png" />
        </div>
      </di>
    </div>
  </div>
    <div
      id="blok2">
     
      <div class="row">
        <div
          class="col-md-3"
          style="
            margin: left 10px;
            background-color: transparent;
            flex-wrap: nowrap;
            margin-right: -88px;
            margin-left: 79px;">
          <h1 class="d-blok2 text-white" style="font-size: 16px;">What’s so special?</h1>
          <h1 class="d-blok2-0 text-white">THE GAMES</h1>
        </div>
        <div class="col-md-8">
          <div
            id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-ride="carousel"
          >
            <style></style>
            <ul class="carousel-indicators">
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="1"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="2"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="3"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="4"
              ></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  class="d-block w-100"
                  src="./challenge1/img/rockpaperstrategy-1600 1.png"
                  alt="First slide"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="d-block w-100"
                  src="./challenge1/img/rockpaperstrategy-1600 1.png"
                  alt="Second slide"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="d-block w-100"
                  src="./challenge1/img/rockpaperstrategy-1600 1.png"
                  alt="Third slide"
                />
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleIndicators"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleIndicators"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <style>
      .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
      }
      .timeline::before {
        content: '';
        position: absolute;
        width: 1px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 0;
        margin-top: 10px;
    margin-bottom: 15px;
      }

      .tim{
        margin-left: 20px;
        position: relative;
      }
      
      .timx:before{
        content: '';
        position: absolute;

        width: 20px;
        height: 20px;
        left: -30px;
        background-color: white;
        top: 4px;
        border-radius: 50%;
        z-index: 1;
      }
    </style>
    <div id="blok3">

      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6" style="padding-left: 80px">
          <h1 class="d-blok3">What’s so special?</h1>
          <h1 class="d-blok3-1">features</h1>
        
        <div class="timeline">
        <div class="tim">
          <div class="timx">

          <h1 class="d-blok3-2">TRADTIONAL GAMES</h1>
          <p class="d-blok3-3">
            If you miss your childhood, we provide <br />many traditional games
            here
          </p>
        </div>
      </div>
        <div class="tim" >
          <div class="timx">
          <h1 class="d-blok3-4">GAME SUIT</h1>
        </div>
        </div>
      </div>

        <div class="tim">
          <div class="timx">
          <h1 class="d-blok3-5">TBD</h1>
        </div>
      </div>
        </div>
      </div>
    </div>
    <div id="blok4"
      style="
        width: 100%;
        height: 960.16px;
        background-image: url(./img/blok4.jpg);
        background-position: center;
        background-size: cover;
        ">
     <div style="width: 100%;text-align:center"><h6 class="d-blok1-0">Can My Computer Run this game?</h6></div>
     <div class="row">
      <div class="col-md-6" style="padding-left: 50px;">
            <div class="" style="width: 100%;">
              <h1 class="text-white" style="font-size: 56px;">system </h1>
            </div>
            <div>
              <h1 class="text-white" style="font-size: 56px;">requirements</h1> 
            </div>
            <style>
              .blok-4-table-title{
                color: #FFB548;
              }
              .blok-4-table-content{
                color:white;
              }
            </style>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>
                      <div class="blok-4-table-title">OS:</div>
                      <div class="blok-4-table-content">
                        Windows 7 64-bit only (No OSX support at this time)  
                      </div>
                    </td>
                    <td>
                      <div class="blok-4-table-title">PROCESSOR:</div>
                      <div class="blok-4-table-content">
                        Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="blok-4-table-title">mEMORY:</div>
                      <div class="blok-4-table-content">
                        4 GB RAM
                      </div>
                    </td>
                    <td>
                      <div class="blok-4-table-title">storage:</div>
                      <div class="blok-4-table-content">
                        8 GB available space
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <div class="blok-4-table-title">GRAPHICS:</div>
                      <div class="blok-4-table-content">
                        NVIDIA GeForce GTX 660 2GB or <br/>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>         
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
  <style>
    #blok5{
      width: 100%;
      height: 960.16px;
      background-color: black;
      background-image: url(./img/blok5.jpg);
        background-position: center;
        background-size: cover;      
    }
    .top_scores{
      /* display: inline-block; */
    }
    .con-blok5{
      margin-left: 100px;
    }
    .card_blok5{
      background: rgba(255, 255, 255, 0.08)
    }
    .mb-10{
      margin-bottom: 25px;
    }
    .warna_kuning{
      color: #FFB548;
    }
    .warna_gray{
      color:gray;
    }
    .img_blok5{
      height: 60px;
      border-radius: 50%;
    }

  </style>
  <div id="blok5">
    <div class="row h-100">
      <div class="col-md-6">
        <div class="d-flex flex-row justify-content-center align-items-center h-100">
          <div class="con-blok5">
            <div style="width: 100%" class="h1 text-white"><h1>TOP SCORES</h1></div>
            <div style="width: 100%" class="text-white">This top score from various games provided on this platform</div>
            <div style="width: 100%;margin-top: 20px;" class="text-white">
              <button class="btn" style="width: 200px;background-color:#FFB548">SEE MORE</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-row justify-content-center align-items-center h-100">
            <div class="row">
              <div class="col-md-12 offset-md-2 mb-10">
                  <div class="con-blok5">
                      <div class="card card_blok5" style="width: 400px;">
                        <div  class="card-body">
                          <div class="row">
                            <div class="col-md-3 col-xs-3">
                              <img src="./challenge1/img/evan.jpg" class="img_blok5"/>
                            </div>
                            <div class="col-md-7">
                              <div class="card-title warna_kuning h4"><strong>Evan Lahti</strong></div>
                              <span class="warna_gray">PC Gamer</span>
                            </div>
                            <div class="col-md-2">
                              <i class="fa-brands fa-twitter float-right" style="font-size:20px"></i>
                            </div>
                          </div>
                          <div class="row" style="margin-top: 10px">
                            <div class="col-md-12">
                              <h5 class="card-title-1 text-white">“One of my gaming highlights of the year.”</h5>
                            </div> 
                          </div>
                          <div class="row" style="margin-top: 10px">
                            <div class="col-md-12">
                                <p class="card-text warna_gray">June 18, 2021</p>
                            </div> 
                          </div>                                                      
                        </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-12  mb-10">
                <div class="con-blok5">
                    <div class="card card_blok5" style="width: 400px;">
                      <div  class="card-body">
                        <div class="row">
                          <div class="col-md-3 col-xs-3">
                            <img src="./challenge1/img/jada.jpg" class="img_blok5"/>
                          </div>
                          <div class="col-md-7">
                            <div class="card-title warna_kuning h4"><strong>Jada Griffin</strong></div>
                            <span class="warna_gray">Nerdreactor</span>
                          </div>
                          <div class="col-md-2">
                            <i class="fa-brands fa-twitter float-right" style="font-size:20px"></i>
                          </div>

                        </div>
                        <div class="row" style="margin-top: 10px">
                          <div class="col-md-12">
                            <h5 class="card-title-1 text-white">“The next big thing in the world of streaming and survival games.”
                            </h5>
                          </div> 
                        </div>
                        <div class="row" style="margin-top: 10px">
                          <div class="col-md-12">
                              <p class="card-text warna_gray">July 10, 2021</p>
                          </div> 
                        </div>                                                      
                      </div>
                    </div>
                </div>
            </div>  
            <div class="col-md-12 offset-md-2 mb-10">
              <div class="con-blok5">
                  <div class="card card_blok5" style="width: 400px;">
                    <div  class="card-body">
                      <div class="row">
                        <div class="col-md-3 col-xs-3">
                          <img src="./challenge1/img/aaron.jpg" class="img_blok5"/>
                        </div>
                        <div class="col-md-7">
                          <div class="card-title warna_kuning h4"><strong>Aaron Williams </strong></div>
                          <span class="warna_gray">Uproxx</span>
                        </div>
                        <div class="col-md-2">
                          <i class="fa-brands fa-twitter float-right" style="font-size:20px"></i>
                        </div>

                      </div>
                      <div class="row" style="margin-top: 10px">
                        <div class="col-md-12">
                          <h5 class="card-title-1 text-white">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</h5>
                        </div> 
                      </div>
                      <div class="row" style="margin-top: 10px">
                        <div class="col-md-12">
                            <p class="card-text warna_gray">December 24, 2018</p>
                        </div> 
                      </div>                                                      
                    </div>
                  </div>
              </div>
          </div>                         
            </div>
          </div>

      </div>

    </div>
  </div>
  <style>
    #blok6{
      background-color: #08090a;
    }
  </style>

  <div id="blok6" style="padding: 0px 40px">
    <div class="row h-100">
      <div class="col-md-6">
        <div class="d-flex flex-row justify-content-center align-items-center h-100">
          <img src="./challenge1/img/blok6_1.png" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-row justify-content-center align-items-center h-100">
            <div class="row" style="width: 100%">
              <div class="col-md-12">
                 <div class="text-white" style="width:100px">Want to stay in touch?</div>
                 <div class="text-white h1" style="width:100px;text-transform: uppercase">newsletter SUBSCRIBE </div>
                 <div class="text-white">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</div>
                  
              </div>
              <div class="col-md-12" style="margin-top: 60px">
                <div class="row">
                  <div class="col-md-8">
                    <div style="background:#343a40;color: #e8e8e85b; width:100%;height:60px;padding-left:10px;border-radius: 10px;">
                      <div>Your email address</div>
                      <div class="warna_kuning">youremail@binar.co,id</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    
                      <div style="display:flex;justify-content:center;align-items:center;height:60px;background-color: #FFB548;border-radius: 10px;">Subscribe now</div>
                  
                  </div>
                </div>
                </div>
              </div>         
            </div>
          </div>
      <style>
        .menu_footer{
          float: right;
          list-style-type: none;
          display: flex;
          color:white;
        }
        .menu_footer li{
          margin-right: 20px;
        }
      </style>
      <div class="col-md-12" style=" margin-bottom: 10px;border-bottom:1px solid gray;">
        <div style="margin-bottom: 30px;border-bottom-width:2px;">
            <ul class="menu_footer">
              <li>Main</li>
              <li>About</li>
              <li>game features</li>
              <li>System requirements</li>
              <li>quotes</li>
              <li><img src="./challenge1/img/facebook.png" /></li>
              <li><img src="./challenge1/img/twitter.png" /></li>
              <li><img src="./challenge1/img/youtube.png" /></li>
              <li><img src="./challenge1/img/twitch.png" /></li>
            </ul>
        </div>
      </div>
  
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 text-left" style="color:gray"> &copy; 2018 Your Games, Inc. All Rights Reserved</div>
          <div class="col-md-6 text-white text-right">Privacy Policy | Terms of Services | Code of Conduct </div>
        </div>
        
      </div>
    </div>
  </div>
 
  </body>
</html>
