<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>play game</title>

    <script src="./capter4/jquery-3.6.0.min.js"></script>

    <link href="./capter4/bootstrap-5.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./capter4/style.css" rel="stylesheet" />

    <script src="./capter4/bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
    <script src="./capter4/script.js" defer></script>

  </head>
  <body>
    <!-- <div> adalah elemen level blok dan <span>merupakan elemen sebaris. -->
    <div class="container-sm">
      <div class="row" style="padding-top: 30px">
        <div class="col-md-12 top_header">
          <a href="/"><img src="./capter4/image/back.png" /></a>
          <div style="width: 20px"></div>
          <img src="./capter4/image/logo 1.png" />
          <div style="width: 20px"></div>
          <span class="title">ROCK PAPER SCISSORS</span>
        </div>
      </div>
      <div class="row" style="margin-top: 30px">
        <div class="col text-center title_player">Player 1</div>
        <div class="col"></div>
        <div class="col text-center title_player">Com</div>
      </div>
      <!-- awal player1_batu -->
      <div class="row">
        <div class="col">
          <div
            id="player1_rock"
            class="item_game choose_player1"
            data-pilihan="rock"
          >
            <img onClick="playgame('rock')" src="./capter4/image/batu 1.png" />
          </div>
        </div>
        <div class="col"></div>
        <div class="col">
          <div id="com_rock" class="item_game">
            <img src="./capter4/image/batu 1.png" />
          </div>
        </div>
      </div>
      <!-- awal player1_kertas -->
      <div class="row">
        <div class="col">
          <div
            id="player1_paper"
            class="item_game choose_player1"
            data-pilihan="paper"
          >
            <img onClick="playgame('paper')" src="./capter4/image/kertas 1.png" />
          </div>
        </div>
        <!-- versus refresh -->
        <div class="col">
          <div class="result">
            <div id="versus" class="versus">
              <div id="content_result">VS</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="com_paper" class="item_game">
            <img src="./capter4/image/kertas 1.png" />
          </div>
        </div>
      </div>
      <!-- awal player1_gunting -->
      <div class="row">
        <div class="col">
          <div
            id="player1_scissors"
            class="item_game choose_player1"
            data-pilihan="scissors"
          >
            <img onClick="playgame('scissors')" src="./capter4/image/gunting 1.png" />
          </div>
        </div>
        <div class="col"></div>
        <div class="col">
          <div id="com_scissors" class="item_game">
            <img src="./capter4/image/gunting 1.png" />
          </div>
        </div>
      </div>
      <!-- refresh -->
      <div class="row">
        <div class="col text-center">
          <div id="btn_refresh" onclick="refresh()"><img src="./capter4/image/refresh 2.png" /></div>
        </div>
      </div>
    </div>
  </body>
</html>
